<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{fragments/base :: head}"></div>
    <title>Главное меню</title>
</head>
<body>

<div th:insert="~{fragments/base :: body}"></div>
<div th:insert="~{fragments/base :: menu}"></div>

<div>
    <h3><p th:utext="'Приветствую, ' + ${name} + '!'" /></h3>
    <ul class="mx-auto">
        <p/>

        <a href="/users"><button type="button" class="btn btn-light">Учетные записи</button></a><p/>
        <a href="/aliases"><button type="button" class="btn btn-light">Аккаунты</button></a><p/>
        <a href="/workers"><button type="button" class="btn btn-light">Пользователи</button></a><p/>
        <a href="/config/make"><button type="button" class="btn btn-light">Сгенерировать конфиг</button></a><p/>
        <a href="/monitor"><button type="button" class="btn btn-light">Сканировать сеть</button></a><p/>
        <a href="/server"><button type="button" class="btn btn-light">Управление сервером</button></a><p/>
    </ul>
</div>

</body>
</html>