<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{fragments/base :: head}"></div>
    <title>Список рабочих с телефоном</title>
</head>
<body>
<div th:insert="~{fragments/base :: body}"></div>

    <div class="btn-group btn btn-outline-dark">
        <a href="/users/add ">
            <button type="button" class="btn btn-outline-success">Добавить</button>
        </a>

        <a href="/">
            <button type="button" class="btn btn-outline-warning">Назад</button>
        </a>
    </div>


<table class="table table-hover">
    <tr>

        <th>Логин</th>
        <th>Права</th>
        <th>Пользователь телефонии</th>
        <th>Номер</th>

    </tr>
    <div th:each="user : ${users}">
        <tr>
            <td>
                <a th:utext= "${user.getUsername()}" th:href="@{/users/{id}(id=${user.getId()})}"/>
            </td>
            <td>
                <p th:each="role : ${user.getRoles()}" th:text="${role.getName()}"/>
            </td>
            <td th:switch="${user.getPbxUser()}">
                <span th:case="null" th:utext= "${'-'}"></span>
                <span th:case="*" th:utext = "${user.getPbxUser().getName()}" th:href="@{/workers/{id}(id=${user.getPbxUser().getId()})}"></span>
            </td>
            <td th:switch="${user.getPbxUser()}">
                <span th:case="null" th:utext= "${'-'}"></span>
                <span th:case="*" th:utext = "${user.getPbxUser().getNumber()}" th:href="@{/workers/{id}(id=${user.getPbxUser().getId()})}"></span>
            </td>
        </tr>
    </div>

</table>


</body>
</html>