<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{fragments/base :: head}"></div>
    <title>Генератор конфига для Linksys9XX</title>
</head>
<body>
<div th:insert="~{fragments/base :: body}"></div>
<h1>Введите данные для генерации конфиг файлы:</h1>


<form action="/config/make" id='generate' target="update" th:method="post" enctype="application/x-www-form-urlencoded">
    <table>
        <tr>
            <th>
    <label for="number">Введите номер телефона:</label>
            </th>
            <th>
    <input type="tel" id="number" name="number" th:value="${number}" placeholder="xxx">
            </th>
        </tr>
    </table>
    <p><button type="submit" class="btn btn-outline-success">Добавить</button>

</form>

<script>
    responseHandler('generate','/config/make', 'POST');
</script>

<p><a href="/">
    <button type="button" class="btn btn-outline-dark">Назаад</button>
</a></p>

<p th:text="${result}"></p>
</body>
</html>
