<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:insert="~{fragments/base :: head}"></div>
  <title>TFTP</title>
</head>
<body>
<div th:insert="~{fragments/base :: body}"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"></script>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div>
        <a href="/server/services/tftp/edit">
          <button type="button" class="btn btn-outline-warning">Изменить конфигурационный файл службы TFTP</button>
        </a>
      </div>

      <pre class="text-black">
                <b-form-textarea class="form-control h-auto resize-both autosize" th:text="${tftpConfiguration}" readonly></b-form-textarea>
            </pre>
    </div>

  </div>
</div>
<a href="/server/services">
  <button type="button" class="btn btn-outline-dark">Назад</button>
</a>

</body>
</html>