<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{fragments/base :: head}"></div>
    <title>Обнаруженные устройства</title>
</head>
<body>
<div th:insert="~{fragments/base :: body}"></div>
<script type="text/javascript" src="/static/src/scripts.js"></script>
<div class="btn-group btn btn-outline-dark">
<a href="/">
    <button type="button" class="btn btn-outline-warning">Назад</button>
</a>

<a href="/monitor">
    <button type="button" class="btn btn-outline-warning">Сканировать еще раз</button>
</a>
</div>



<iframe id="update" name="update" style="display: none"></iframe>
    <script>
        const iframe = document.getElementById('update');
        iframe.addEventListener('load', function () {
            let responseText = iframe.contentDocument.body.textContent;
            if (responseText != null && responseText != '') {
                alert(responseText);
            }
        });
    </script>



<div th:switch="${hosts[0][0]}">
    <span th:case="${'IP адресов в сети не обнаружено'}" th:utext= "${'IP адресов в сети не обнаружено'}"></span>
    <span th:case="*">
        <table class="table table-hover">
            <tr>
                <th>IP адрес</th>
                <th>MAC-адрес</th>
                <th>Пользователь</th>
                <th>Номер</th>
                <th>Модель аппарата</th>
                <th>Заменить конфиг</th>
            </tr>

            <tr th:each="host : ${hosts}">

                <td>
                    <a th:utext= "${host[0]}"/>
                </td>

                <td>
                    <a th:utext= "${host[1]}"/>
                </td>

                <td>
                    <a th:utext= "${host[2]}"/>
                </td>

                <td>
                    <a th:utext= "${host[3]}"/>
                </td>

                <td>
                    <a th:utext= "${host[4]}"/>
                </td>

                <td th:switch="${host[4]}">
                    <span th:case="${'spa9XX'}">
                        <div th:id="${host[0]}" class="btn-group">
                            <script th:inline="javascript">
                                reloadConfig([[${host[0]}]], [[${host[1]}]], [[${host[4]}]], [[${host[0]}]]);
                                generateConfig([[${host[3]}]], [[${host[0]}]]);
                            </script>
                        </div>
                    </span>
                    <span th:case="${'vp5X'}">
                        <div th:id="${host[0]}" class="btn-group btn btn-outline-dark">
                            <script th:inline="javascript">
                                generateConfig([[${host[3]}]], [[${host[0]}]]);
                            </script>
                        </div>
                    </span>
                    <span th:case="*" th:utext= "${'Действие не определено'}"></span>
                </td>

            </tr>

        </table>
    </span>
</div>

</body>
</html>