<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{fragments/base :: head}"></div>
    <title>Обнаруженные устройства</title>
</head>
<body>
<div th:insert="~{fragments/base :: body}"></div>
<script type="text/javascript" src="/static/src/scripts.js"></script>
<div>
<p><a href="/">
    <button type="button" class="btn btn-outline-dark">Назад</button>
</a></p>
</div>
<div>
<p><a href="/monitor">
    <button type="button" class="btn btn-outline-dark">Сканировать еще раз</button>
</a></p>
</div>
<div class="float-right">
    <embed id="result" src="http://localhost:8080/reload"/>
    <script>
        let iframe = document.getElementById('result');
        iframe.src = '/reload';
    </script>
</div>
<div th:switch="${hosts[0][0]}">
    <span th:case="${'IP адресов в сети не обнаружено'}" th:utext= "${'IP адресов в сети не обнаружено'}"></span>
    <span th:case="*">
        <table class="table table-hover">
            <tr>
                <th>IP адрес</th>
                <th>MAC-адрес</th>
                <th>Пользователь</th>
                <th>Номер</th>
                <th>Модель аппарата</th>
                <th>Заменить конфиг</th>
            </tr>

            <tr th:each="host : ${hosts}">

                <td>
                    <a th:utext= "${host[0]}"/>
                </td>

                <td>
                    <a th:utext= "${host[1]}"/>
                </td>

                <td>
                    <a th:utext= "${host[2]}"/>
                </td>

                <td>
                    <a th:utext= "${host[3]}"/>
                </td>

                <td>
                    <a th:utext= "${host[4]}"/>
                </td>

                <td th:switch="${host[4]}">
                    <span th:case="${'spa9XX'}">
                        <div th:id="${host[0]}">
                            <script th:inline="javascript">
                                reloadConfig([[${host[0]}]], [[${host[1]}]], [[${host[4]}]], [[${host[0]}]]);
                                generateConfig([[${host[3]}]], [[${host[0]}]]);
                            </script>
                        </div>
                    </span>
                    <span th:case="${'vp5X'}">
                        <div th:id="${host[0]}">
                            <script th:inline="javascript">
                                generateConfig([[${host[3]}]], [[${host[0]}]]);
                            </script>
                        </div>
                    </span>
                    <span th:case="*" th:utext= "${'Действие не определено'}"></span>
                </td>

            </tr>

        </table>
    </span>
</div>

</body>
</html>